@font-face {
    font-family: Dhestora;
    src:url(Dhestora.ttf);
}
@font-face {
    font-family: Rastyin;
    src:url(Rastyin-qZ0aV.ttf);
}
@font-face {
    font-family: Ronallatie;
    src:url(Ronallatie.ttf);
}
@font-face {
    font-family: TanyaHati;
    src:url(TanyaHati-w1Adn.ttf);
}
